{% extends "layout.html" %}
{% block content %}
<body onload="init()">
    <input type="hidden" value={{ page.current }} id="current">
    <input type="hidden" value={{ page.get_from() }} id="from">
    <input type="hidden" value={{ page.get_to() }} id="to">

    <div class="row" style="margin-top: 2%;">
        <div class="col">

        </div>
        <div class="col-10">
            <div class="row">
                <div class="col-2">

                </div>
                <div class="input-group flex-nowrap col-4">
                    <input type="text" class="form-control" placeholder="商品种类" aria-label="商品种类" name="choose_commodity_type"
                        id="commodity_type" {% if request.args.get('commodity_type') %}
                        value={{ request.args.get('commodity_type') }} {% endif %} aria-describedby="addon-wrapping">
                </div>
                <div class="input-group flex-nowrap col-4">
                    <input type="text" class="form-control" placeholder="商品名称" aria-label="商品名称" name="choose_commodity_name"
                        id="commodity_name" {% if request.args.get('commodity_name') %}
                        value={{ request.args.get('commodity_name') }} {% endif %} aria-describedby="addon-wrapping">
                </div>
                <div class="col-2">
                    <button class="btn btn-primary" onclick="search()">搜索</button>
                </div>
            
            </div>
        </div>

        <div class="col">

        </div>
    </div>
    
    <div class="row" style="margin-top: 2%;">
        <div class="col">

        </div>
        <div class="col-12">
            {% for commodity in commodities %}
            {{ set_var(loop.length) }}
            {% if loop.index % 3 == 1 %}
            <div class="row">
            {% endif %}

            <div class="col-4">
                <div class="card" style="margin-top: 1%;">
                    {% set carouselId = 'carouselExampleIndicators'+commodity.id|string  %}
                    {% set carouselTarget = '#carouselExampleIndicators'+commodity.id|string  %}
                    <div id={{ carouselId }} class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            {% if commodity.commodity_photo_url1 %}
                            <li data-target={{ carouselTarget }} data-slide-to="0" class="active"></li>
                            {% endif %}
                            {% if commodity.commodity_photo_url2 %}
                            <li data-target={{ carouselTarget }} data-slide-to="1"></li>
                            {% endif %}
                            {% if commodity.commodity_photo_url3 %}
                            <li data-target={{ carouselTarget }} data-slide-to="2"></li>
                            {% endif %}
                            {% if commodity.commodity_photo_url4 %}
                            <li data-target={{ carouselTarget }} data-slide-to="3"></li>
                            {% endif %}
                            {% if commodity.commodity_photo_url5 %}
                            <li data-target={{ carouselTarget }} data-slide-to="4"></li>
                            {% endif %}
                        </ol>
                        <div class="carousel-inner">
                            {% if commodity.commodity_photo_url1 %}
                            <div class="carousel-item active">
                                <img alt="photo" class="card-img-top" height="300px" src={{ commodity.commodity_photo_url1 }}>
                            </div>
                            {% endif %}
                            {% if commodity.commodity_photo_url2 %}
                            <div class="carousel-item">
                                <img alt="photo" class="card-img-top" height="300px" src={{ commodity.commodity_photo_url2 }}>
                            </div>
                            {% endif %}
                            {% if commodity.commodity_photo_url3 %}
                            <div class="carousel-item">
                                <img alt="photo" class="card-img-top" height="300px" src={{ commodity.commodity_photo_url3 }}>
                            </div>
                            {% endif %}
                            {% if commodity.commodity_photo_url4 %}
                            <div class="carousel-item">
                                <img alt="photo" class="card-img-top" height="300px" src={{ commodity.commodity_photo_url4 }}>
                            </div>
                            {% endif %}
                            {% if commodity.commodity_photo_url5 %}
                            <div class="carousel-item">
                                <img alt="photo" class="card-img-top" height="300px" src={{ commodity.commodity_photo_url5 }}>
                            </div>
                            {% endif %}
                        </div>
                        <a class="carousel-control-prev" href={{ carouselTarget }} role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href={{ carouselTarget }} role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><b>{{ commodity.commodity_name }}</b></h5>
                        {% if commodity.status == 0 %}
                            <p>状态: <b>未预约</b></p>
                        {% elif commodity.status == 1 %}
                            <p>状态: <b>已预约</b></p>
                        {% else %}
                            <p>状态: <b>已交易</b></p>
                        {% endif %}
                        <p>种类: <b>{{ commodity.commodity_type }}</b></p>
                        <p>价格: <b>{{ commodity.price }}</b></p>
                        <p class="card-text">介绍：{{ commodity.commodity_introduction }}</p>
                        <div>
                            {% set target = '#uploadCommodity' + commodity.id|string %}
                            {% set target_id = 'uploadCommodity' + commodity.id|string %}
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target={{ target }}>
                                编辑商品
                            </button>
                
                            <div class="modal fade" id={{ target_id }} tabindex="-1" role="dialog"
                                aria-labelledby="uploadCommodityLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="uploadCommodityLabel">编辑你的商品</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <form action="/commodity/modify" method="POST" enctype="multipart/form-data">
                                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                            <div class="modal-body">
                                                <input type="hidden" id="commodity_id" name="commodity_id" value={{ commodity.id }} />                                                   
                                                <div class="input-group mb-3">
                                                    <input type="text" class="form-control" placeholder="商品名称" aria-label="商品名称" id="new_commodity_name"
                                                        name="new_commodity_name" value={{ commodity.commodity_name }} aria-describedby="basic-addon1" required>
                                                </div>
                                                <div class="input-group mb-3">
                                                    <input type="text" class="form-control" placeholder="商品种类" aria-label="商品种类" id="new_commodity_type"
                                                        name="new_commodity_type" value={{ commodity.commodity_type }} aria-describedby="basic-addon1" required>
                                                </div>
                                                <div class="input-group mb-3">
                                                    <input type="number" class="form-control" placeholder="价格" aria-label="价格" id="new_commodity_price"
                                                        name="new_commodity_price" value={{ commodity.price }} aria-describedby="basic-addon1" required>
                                                </div>
                                                <div class="md-form">
                                                    <label for="new_commodity_introduction">介绍</label>
                                                    <textarea id="new_commodity_introduction" name="new_commodity_introduction" class="md-textarea form-control"
                                                        rows="3">{{ commodity.commodity_introduction }}</textarea>
                                                </div>
                                                上传你的实拍图
                                                <br>
                                                <div class="input-group mb-3">
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input" id="photo1" name="photo1">
                                                        <label class="custom-file-label" for="photo1" aria-describedby="photoAddon01">Choose
                                                            file</label>
                                                    </div>
                                                    <div class="input-group-append"  style="display: none;">
                                                        <span class="input-group-text" id="photoAddon01">Upload</span>
                                                    </div>
                                                </div>
                                                <div class="input-group mb-3">
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input" id="photo2" name="photo2">
                                                        <label class="custom-file-label" for="photo2" aria-describedby="photoAddon02">Choose
                                                            file</label>
                                                    </div>
                                                    <div class="input-group-append"  style="display: none;">
                                                        <span class="input-group-text" id="photoAddon02">Upload</span>
                                                    </div>
                                                </div>
                                                <div class="input-group mb-3">
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input" id="photo3" name="photo3">
                                                        <label class="custom-file-label" for="photo3" aria-describedby="photoAddon03">Choose
                                                            file</label>
                                                    </div>
                                                    <div class="input-group-append"  style="display: none;">
                                                        <span class="input-group-text" id="photoAddon03">Upload</span>
                                                    </div>
                                                </div>
                                                <div class="input-group mb-4">
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input" id="photo4" name="photo4">
                                                        <label class="custom-file-label" for="photo4" aria-describedby="photoAddon04">Choose
                                                            file</label>
                                                    </div>
                                                    <div class="input-group-append"  style="display: none;">
                                                        <span class="input-group-text" id="photoAddon04">Upload</span>
                                                    </div>
                                                </div>
                                                <div class="input-group mb-3">
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input" id="photo5" name="photo5">
                                                        <label class="custom-file-label" for="photo5" aria-describedby="photoAddon05">Choose
                                                            file</label>
                                                    </div>
                                                    <div class="input-group-append" style="display: none;">
                                                        <span class="input-group-text" id="photoAddon05">Upload</span>
                                                    </div>
                                                </div>
                
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                                                <button type="submit" class="btn btn-primary">修改</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            {% set delete_id = 'delete_btn_' + commodity.id|string %}
                            <button type="button" id={{ delete_id }} class="btn btn-primary" onclick="detele_commodity(this.id)">
                                删除商品
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            {% if loop.index % 3 == 0 %}
            </div>
            {% endif %}
            {% endfor %}
            {% if get_var() % 3 != 2 %}
            </div>
            {% endif %}

            <div class="modal fade" id="hintModal" tabindex="-1" role="dialog" aria-labelledby="hintModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="hintModalLabel">提示</h5>
                        </div>
                        <div class="modal-body" id="hintBody">
                            发送完毕!
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">

        </div>
        <!-- 提示框 -->
    </div>

    <div class="row" style="margin-top: 2%;">
        <div class="col">
    
        </div>
        <div class="col-8">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <!-- {{ page.get_list() }} -->
                    <li class="page-item" id="pre_page">
                        <a class="page-link" href="javascript:void(0);" onclick="pre_page()">Previous</a>
                    </li>
                    {% for i in page.get_list()%}
                    <li class="page-item"><a class="page-link" href="javascript:void(0);" id={{ i }}
                            onclick="change_page(this.id)">{{ i }}</a></li>
                    {%  endfor %}
                    <li class="page-item" id="next_page">
                        <a class="page-link" href="javascript:void(0);" onclick="next_page()">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col">
    
        </div>
    </div>

</body>
{% endblock %}
{% block script_at_end %}
<script>
    var current = parseInt($("#current").val())
    var from = parseInt($("#from").val())
    var to = parseInt($("#to").val())

    function detele_commodity(id){
        console.log('我要删除了')
        ids = id.split("_")
        commodity_id = ids[ids.length-1]
        console.log(commodity_id)
        $.post(
            '/commodity/delete',
            { 'id': commodity_id },
            function (data) {
                data = $.parseJSON(data);
                if (data.code == 200) {
                    $("#hintBody").text("删除成功！");
                } else {
                    $("#hintBody").text(data.msg);
                }

                $("#hintModal").modal("show");
                setTimeout(function () {
                    $("#hintModal").modal("hide");
                    location.reload();
                }, 2000);
            }
        );
    }


    function init() {
        if (current == 1) {
            $("#pre_page").addClass("disabled");
        }
        if (to == 0) {
            $("#next_page").addClass("disabled");
        }
        if (current == to) {
            $("#next_page").addClass("disabled");
        }
        $("#" + current).parent().addClass("active");
    }
    function choose_page() {
        window.location = "/commodity/my_commodity?commodity_type=" + $("#commodity_type").val()
            + "&commodity_name=" + $("#commodity_name").val() + "&current=" + current;
    }
    function pre_page() {
        current = current - 1 < from ? from : current - 1
        choose_page()
    }
    function next_page() {
        current = current + 1 > to ? to : current + 1
        choose_page()
    }
    function change_page(id) {
        current = id
        choose_page()
    }


    function search() {
        window.location = "/commodity/my_commodity?commodity_type=" + $("#commodity_type").val()
            + "&commodity_name=" + $("#commodity_name").val();
    }
</script>

{% endblock %}